

.topbox {
    border: black 4px solid;
    height: 150px;

}

.topboxobjects {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* justify-content: flex-start; (default already) */
}

.topboxobjects > div {
    position: relative;
}

#purplerectangle {
    background-color: rgb(156, 38, 235);
    height: 105px;
    width: 40px;
    /* width: 5vw; */
    left: 5px;
    top: 3px;
}

#greenrectangle {
    background: rgb(64, 156, 64);
    height: 140px;
    width: 450px;
    left: 42px;
    top: 5px;
}

#bluecircle {
    background: lightblue;
    height: 140px;
    width: 140px;
    left: 85px;
    top: 5px;
    border-radius: 100%

}

.middlebox {
    border: goldenrod 5px dotted;
    height: 200px;
}

.yellowrectangle {
    height: 125px;
    width: 92%;
    position: relative;
    top: 37.5px;
    left: 4%;
    background-color: rgb(255, 255, 220);
    box-shadow: 5px 5px 5px black;

    /* box-shadow: vertoffset, horoffset, color */ */
}
#lowerbox {
    display: flex;
    flex-direction: row;
    vertical-align: middle; /*how do i get text in vertical center?*/

}
#lowerbox > div {
    font-family: Serif;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    /* padding: 30px; */
    border: .5px solid rgb(206, 178, 24);
    width: 50vw;
    height: 150px;
    position: relative;
    left: 20vw;
    box-shadow: 5px 2px 1px rgba(248, 220, 61, 0.555)
}